#doc-container
  max-width: 60rem

#doc-container h1,
#doc-container h2,
#doc-container h3,
#doc-container h4
  font-weight: 400

#doc-container h2
  margin-top: $space-base-rem * 4

#doc-container h3,
#doc-container h4
  margin-top: $space-medium-rem

#doc-container h5
  margin-top: $space-small-rem

// #doc-container h4
//   color: $color-primary

#doc-container .doc-anchor
  display: none
  left: -2em
  padding: 0 1em 1em

#doc-container h1:hover .doc-anchor,
#doc-container h2:hover .doc-anchor,
#doc-container h3:hover .doc-anchor,
#doc-container h4:hover .doc-anchor,
#doc-container h5:hover .doc-anchor,
#doc-container h6:hover .doc-anchor
  display: block

#doc-sub-nav
  padding-top: $space-base-rem * 8.5
  opacity: $opacity-muted

#doc-sub-nav:hover
  opacity: $opacity-emphasis

#doc-sub-nav .doc-sub-nav-item:hover
  color: $color-primary

+media-width(m)
  #doc-aside
    max-width: 18rem
    min-width: 16rem

+media-width(l)
  #doc-container
    max-width: 80rem