#doc-container
  max-width: 1158px

#doc-container h1,
#doc-container h2,
#doc-container h3,
#doc-container h4
  font-weight: 400

#doc-container h2
  margin-top: $space-base-rem * 4

#doc-container h3,
#doc-container h4,
#doc-container h5
  margin-top: $space-small-rem

#doc-container h4
  color: $color-primary

+media-width(m)
  #doc-aside
    max-width: 18rem
    min-width: 16rem